
mult_lin_reg/lab_robot_calib_partial_complete\.ipynb

model_sel/\.DS_Store

\.DS_Store

mult_lin_reg/lab_robot_calib_complete\.ipynb

model_sel/lab_neural_complete\.ipynb

logistic/breast_cancer_complete\.ipynb

logistic/\.ipynb_checkpoints/

model_sel/HW3\.png

model_sel/homework_3_program\.ipynb

model_sel/\.ipynb_checkpoints/

Basics/\.ipynb_checkpoints/

logistic/lab_gene_complete\.ipynb

logistic/Homework 4\.ipynb
